html
  head
    title Hello Jade
  body
    div.something
      span This is my first Jade document
    div#something
      ul
        li bullet one
        li bullet two
    div
      My sentence contains #{individual}


//spaces must be correct!
